@media only screen and (max-width : 1200px) {
.send-invites-form .invite-group{width:48%}
    }
@media only screen and (max-width : 991px) {	
.select-width{width:100% !important}
.detail-form select{padding-left:44%}
}		
@media only screen and (max-width : 992px) {
.main-header-bg{background:url(../images/cloud-bg.jpg) top center no-repeat}
.send-invites-form .invite-group{width:48%}
.limit-reached .send-invites-form{width:95%}
    }
@media only screen and (max-width : 768px) {
.detail-form{width:80%}		
.send-invites-form{width:95%}	
.send-invites-form .invite-group{width:46%}
.banner-left-main{padding:40px 10px 0 10px}
.limit-reached .send-invites-form{width:95%}
.faqs-section{width:95%;margin:0 auto}
.faqs-section ul li span{float:left;width:5%}
.faqs-section ul li p{margin-bottom:0px;float:left;width:95%}
    }


@media only screen and (max-width : 480px) {
.h1-main-ttl{padding:0 15px}	
.detail-form{margin:0 auto 40px}
.head-logos-ul li{padding:0 18px;}
.spin-btn{font-size:28px;margin-top:-60px}
.detail-form{width:100%}	
@-moz-document url-prefix() {.detail-form select{text-align:center;padding-left:0%}}
.footer-logos{margin:20px 0}
.footer-logos-ul li{padding:0 18px;}
.content-bottom{margin:0 0%}	
.send-invites-form{width:90%}
.send-invites-form .invite-group{width:48%}
.send-invites-btn{margin-top:30px}
.send-invites-social,.send-invites-social p, .send-invites-social ul{float:none}
.social{display:inline-block}
.limit-reached .send-invites-form{width:90%}
    }
@media only screen and (max-width : 370px) {	
.spin-share-message{width:100%;line-height:367px;height:100%;}	
.the_canvas{width:100%}
.detail-form select{padding-left:42%}
}
@media only screen and (min-width : 321px) and (max-width : 479px) {
.h1-main-ttl{padding:0 15px}	
.send-invites-form .invite-group{width:47%}	
	}
@media only screen and (max-width : 320px) {
.h1-main-ttl{padding:0 15px}	
.send-invites-form .invite-group{width:47%}
    }


