@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body{font-family:'Lato', sans-serif;font-weight:400}
.main-header-bg{background:url(../images/cloud-bg.jpg) top center no-repeat}
.min-height-bg-home{min-height:270px}
.head-logos{background:rgba(255, 255, 255, 0.5);min-height:39px}
.head-logos-ul{text-align:center;padding-left:0}
.head-logos-ul li{display:inline-block;padding:0 10px;list-style:none}
.header-title-bg{background:url(../images/products-bg.png) top center no-repeat}
.min-height-bg-ttl{background-size:991px 531px;min-height:270px;padding-bottom:10px}
.h1-main-ttl{padding:30px 0 0 0;margin:0;font-size:96px;font-weight:900;color:;}
.h1-main-ttl span{font-size:18px;font-weight:400;display:block;line-height:26px;padding:5px 0 0 0}
.tag-ttl{font-weight:900 !important;text-transform:uppercase;padding-top:15px !important}
.h1-main-ttl p{font-size:14px;font-weight:400;line-height:18px}
.min-padding{padding-bottom:30px}
.spin-wheel-bg{background:url(../images/spin-wheel-bg.png) top center no-repeat;min-height:369px;margin:30px 0}
.spin-wheel{display:block;position:relative}
.spin-wheel-img{position:relative}
header img, section img{display:inline-block !important}
.spin-now{display:block;margin-top:-20px}
.spin-btn{margin-top:-40px;background-color:#008edf;border-radius:0px;color:#fff;font-weight:900;font-size:18px;text-transform:uppercase;position:relative;padding:5px 25px;display:inline-block;-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.spin-btn:before{position:absolute;bottom:-20px;left:0;right:0;margin:0 auto;border:10px solid transparent;border-top-color:#008edf;content:"";width:10px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.spin-btn:hover,.spin-btn:focus{color:#fff;background-color:#333}
.spin-btn:hover:before,.spin-btn:hover:focus{border-top-color:#333;}
.spin-wheel-content{display:block}
.content-bottom{margin:0 13%}
.spin-wheel-content p{margin-bottom:20px;padding:0 15px}
.h4-main{color:#333;font-size:16px;font-weight:700;text-transform:uppercase;padding-bottom:5px}
.terms-condition{color:#666666}
.spin-check-box{margin:0 auto;display:inline-block;padding-bottom:30px}
.spin-term-check{-webkit-appearance: checkbox !important;-moz-appearance: checkbox !important;appearance: checkbox !important;border:1px solid #333;/*width:20px;height:20px;*/float:left}
.spin-check{float:left;margin:0px 0 0 5px}
/*detail form*/
.detail-form{margin:0px auto;width:60%;padding:20px 0 100px}
.h2-main{font-size:16px;text-transform:uppercase;font-weight:700}
.detail-form input,.detail-form select{background-color:transparent;border-bottom:1px solid #000;border-width:0 0 1px 0;border-radius:0px;box-shadow:none;color:#000;text-align:center;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;}
.detail-form input:focus,.detail-form select:focus{box-shadow:none;border-color:#000}
.detail-form label{width:100%}
.select-arrow{position:relative}
.select-arrow:after{position:absolute;bottom:10px;right:0;margin:0 0;border:5px solid transparent;border-top-color:#000;content:"";width:5px;}
.detail-form select{text-align:center;padding-left:42%;font-weight:400}
@-moz-document url-prefix() {.detail-form select{text-align:center;padding-left:0%}}
.select-width{width:40% !important;margin:0 auto 20px}
.detail-form .form-control::-moz-placeholder{color:#000}
.detail-form .form-control:-ms-input-placeholder{color:#000}
.detail-form .form-control::-webkit-input-placeholder{color:#000}
.detail-form label.error{color:red;display:block}
/*cyber cellar css*/
.banner-left{margin:40px 0px}
.banner-text{font-weight:700;font-style:italic;padding:0 15px}
.banner-left-main{padding:40px 0 0 0}
.banner-right{padding:40px 0 0 0}
/*send invites form*/
.send-invites-form{margin:0px auto;width:100%;padding:0px 0 20px;display:inline-block}
.send-invites-form .h2-main{font-size:20px;text-transform:uppercase;font-weight:900}
.send-invites-form span{float:left;line-height:36px}
.send-invites-form .invite-group{float:left;width:47%;margin:0 0 0 1%}
.send-invites-form input{background-color:transparent;border-bottom:1px solid #000;border-width:0 0 1px 0;border-radius:0px;box-shadow:none;color:#000;text-align:center;float:left;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;}
/*.send-invites-form input+input{margin-right:0px;}*/
.send-invites-form input:focus{box-shadow:none;border-color:#000}
.send-invites-form .form-control::-moz-placeholder{color:#000}
.send-invites-form .form-control:-ms-input-placeholder{color:#000}
.send-invites-form .form-control::-webkit-input-placeholder{color:#000}
.send-invites-btn{margin-top:10px;background-color:#008edf;border-radius:0px;color:#fff;font-weight:900;font-size:18px;text-transform:uppercase;position:relative;padding:5px 25px;display:inline-block;-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.send-invites-btn:hover,.send-invites-btn:focus{color:#fff;background-color:#333}
.send-invites-form .form-group{margin-bottom:0px}
.send-invites-form label.error{color:red;display:block}
/*send invites social*/
.send-invites-social{margin-bottom:50px;float:right}
.send-invites-social p,.send-invites-social ul{float:left}
.send-invites-ttl{font-size:20px;font-weight:900;text-transform:uppercase;color:#333;line-height:50px}
/*social*/
.social{padding-left:15px;}
.social li{float:left;list-style:none}
.social li a {display:block;width:50px;height:50px;border-radius:18px;text-align:center;margin-right:15px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.social li a i{font-size:20px;font-weight:bold;color:#fff;line-height:50px}
.social li a.facebook{background-color:#1865c5;}
.social li a.facebook:hover{background-color:#175097;}
.social li a.twitter{background-color:#81e0fe;}
.social li a.twitter:hover{background-color:#61d5fa;}
/*limit reached*/
.limit-reached .social{text-align:center;width:100%;margin-top:20px}
.limit-reached .social li{display:inline-block;float:none}
.limit-reached .h2-main{font-weight:400;text-transform:lowercase;margin-bottom:20px}
.limit-reached .social li a.twitter{-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2)}
.limit-reached .send-invites-form{width:50%}
.limit-reached .send-invites-btn{margin-top:20px;}
.spin-share-message{position:absolute;background-color:rgba(0,0,0,0.7);top:0;left:0;right:0;color:#fff;width:353px;margin:0 auto;line-height:367px;height:367px;border-radius:100%;font-size:18px}
.spin-share-message span{line-height:28px;display:inline-block}
/*faqs*/
.back-home{display:inline-block;color:#333;padding:12px 15px 10px 50px;font-weight:400;background:url(../images/home-icon.png) 15px 10px no-repeat #fff;margin:20px 0;border:1px solid #333;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.back-home:hover{text-decoration:none;color:#fff;background:url(../images/home-icon.png) 15px -22px no-repeat #333;}
.faqs-section{position:relative}
.faqs-section .que{color:#333;font-weight:900;font-size:18px}
.faqs-section p{font-size:14px;font-weight:400;margin-bottom:15px}
.faqs-section p.faq-text{margin-bottom:0}
.faqs-section ul li a, .faqs-section p a{color:#0096e1;}
.faqs-section .faq-list{position:relative;padding-left:0;padding-bottom:15px;display:inline-block}
.faqs-section .faq-list li{list-style:none;float:left;width:100%}
.faqs-section .faq-list ul{padding-left:15px;padding-bottom:0px}
.faqs-section ul{padding-left:17px;padding-bottom:20px}
.faqs-section ul li span{float:left;width:2%}
.faqs-section ul li p{margin-bottom:0px;float:left;width:92%}
.fq-pad{padding-left:5px}
/*footer*/
.footer-logos{background:rgba(255, 255, 255, 0.5);min-height:39px;margin-top:20px}
.footer-logos-ul{text-align:center;padding-left:0}
.footer-logos-ul li{display:inline-block;padding:0 10px;list-style:none}
/*issue fixed for multiselect home page*/
.multi-btn{width:100%}
.multi-btn button.multiselect{width:100%;background:transparent;border:none;box-shadow:none;text-shadow:none;border-bottom:1px solid #000;border-radius:0px}
.multi-btn button.multiselect:focus,.multi-btn button.btn-default:focus,.multi-btn button.btn-default.active:focus,.multi-btn.open .dropdown-toggle{background-color:transparent !important;background:transparent !important;border:none !important;border-color:transparent !important;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0 !important);box-shadow:inset 0 3px 5px rgba(0,0,0,0) !important;}
.multi-btn.open .dropdown-toggle,.multi-btn button.multiselect:focus,.multi-btn button.btn-default:focus{border-bottom:1px solid #333 !important;}
.multi-btn .multiselect-container{left:0;right:0;margin:0 auto;border-radius:0px;border:1px solid #999}
.multi-btn .dropdown-menu>li>a:hover,.multi-btn .dropdown-menu > .active > a{background-color:#333;background-image:none;color:#fff}
.multi-btn .multiselect-container>li>a>label{padding-left:20px;text-align:center;/*color:#000*/}
/*sorry page*/ 
.sorry-page-social-error{position:absolute;bottom:20px;right:0px;color:red;display:block;text-align:center;left:0}
.win-page-social-error{position:absolute;bottom:20px;right:0px;color:red;display:block;text-align:center}